body {
    background-color: rgb(25, 174, 152);
    color: #fff;
    text-align: center;
}

.navbar {
    background-color: lightgrey;
    border-bottom: rgb(124, 152, 139) solid 3px;
    margin-bottom: 0;
}
.nav-title {
    color: rgb(23, 23, 106);
    text-decoration: none;
    font-size: 1.3em;
}
.nav-title:hover {
    color: rgb(50, 72, 196);
    text-decoration: none;
}
.nav-title:link {
    color: rgb(50, 72, 196);
    text-decoration: none;
}

.navbar-left {
    padding-bottom: 10px;
}

.navbar-right {
    padding: 18px 10px 10px 10px;
    font-size: 1.5em;
}

.articles {
    color: #000;
    background-color: rgba(229, 250, 237, 0.851);
    border-radius: 20px;
    border: 10px rgb(25, 174, 152) solid; 
    font-size: 1em;
}

h4 {
    font-size: 1.5em;
    margin: 10px;
    width: 100%;
}
h4 a {
    text-align: center;
}

.article-title-box {
    min-height: 100px; 
    display: flex;
    align-items: center;
    
}
.article-details p {
    font-size: 1.2em;
    color: rgb(46, 46, 46); 
    
}
.article-details {
    min-height: 90px; 
}
img {
    width: 4em;
}
.art-title {
    min-height: 120px;
}
.heart {
    width: 2em;
}
a {
    color: rgb(22, 31, 30);
}
a:hover {
    color: rgb(143, 0, 122);
    text-decoration: none;
}
a:active {
    color: grey;
    text-decoration: none;
}

.comment-link:hover {
    
    color: black;
    font-weight: bold;
}

.article-item {
    background-color: rgba(255, 255, 255, 0.509); 
    color: black;
    border: solid white 5px;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 1.3em;
    text-align: justify;
    margin: 20px;
}

.article-comments {
    background-color: rgba(255, 255, 255, 0.509); 
    color: black;
    border: solid white 5px;
    border-radius: 20px;
    padding: 20px 60px;
    font-size: 1.3em;
    margin: 20px;
}

.article-title {
    font-size: 1.5em;
}
.article-author {
    font-style: italic;
}

.votes {
    height: 100px;
    margin-top: -10px;
}
.vote-btn {
    width: 3em;
}

.vote-btn:hover {
    width: 3.2em;
}

.votes-article-item p{
    padding-left: 20px;
}

.comment-bod {
    font-size: 1em;
    text-align: justify;
    margin: 0;
}
.comment-item {
    background-color: rgba(255, 255, 255, 0.509); 
    color: black;
    border: solid white 5px;
    border-radius: 20px;
    padding: 20px 30px 0 30px;
    font-size: 1em;
    margin-top: 10px;   
}
.comment-p {
    background: none;
    color: black;
    font-weight: bold;
    border: none;
    padding-left: 0;
}
button {
    outline: none;
}
.comment-author {
    text-align: left;
    font-style: italic;
    margin-top: 10px;
}
.comment-component {
    background-color: rgba(255, 255, 255, 0.509); 
    color: black;
    border: solid white 5px;
    border-radius: 20px;
    padding: 20px 10px;
    font-size: 1.2em;
    margin: 20px;
}
.comment-form {
    background-color: rgba(255, 255, 255, 0.509); 
    color: black;
    border: solid white 5px;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
    margin-top: 10px;
}

.comment-form .add-comment-form {
    width: 95%;
    border-radius: 10px;
    height: 3em;
    margin-top: 1%;
    padding: 10px;
}
.comment-form .submit-form {
    border-radius: 10px;
    background-color: black;
    border: none;
    color: rgb(209, 250, 240);
    margin: 10px;
}
.comment-rmv-btn {
    background-color: black;
    border: none;
    color: rgb(209, 250, 240);
    float: right;
    padding: 5px, 10px;
}
.comment-date {
    float: left;
}

.comment-body {
    padding-top: 10px;
}

.topic-pic a:hover img{
    width: 4.5em;
}
input {
    outline: none;
}
.vote-num {
    margin-top: 5px;
}